@model GuildChannelModel

<div class="container ml-4">
    <h1 class="text-3xl font-medium tracking-tight truncate">#@Model.Channel.Name</h1>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <form id="form-data" onchange="checkForm()" action="#" method="post">
    </form>
</div>

@section Scripts
{
    <script>
        // enable/disable save button when there are changes detected
        const form = document.getElementById("form-data");
        const data = new FormData(form);
        const dataString = JSON.stringify([...data.entries()]);
        
        function checkForm() {
            const newForm = document.getElementById("form-data");
            const newData = new FormData(newForm);
            document.getElementById("save-form").disabled = dataString === JSON.stringify([...newData.entries()]);
        }
    </script>
}
