@model GuildChannelModel

<nav class="sticky top-20 mr-2 mt-4 shadow-md">
    <div class="flex flex-none flex-col bg-gray-400 dark:bg-gray-700 w-60 rounded">
        <div class="py-2 pl-2 font-medium">Server Settings</div>
        <a class="nav-settings core py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#core" id="core-nav">Core</a>
        <a class="nav-settings currency py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#currency">Currency</a>
        <a class="nav-settings xp pl-4 py-2 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#xp">Experience</a>
        <a class="nav-settings games py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#games">Games</a>
        <a class="nav-settings gambling py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#gambling">Gambling</a>
        <div class="py-2 pl-2 font-medium">Channel Settings</div>
        <a class="nav-settings channels py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="/manage/@Model.GuildConfig.GuildId/channels">Channels</a>
        <div class="py-2 pl-2 font-medium">Commands</div>
        <a class="py-2 pl-4 rounded-b hover:bg-gray-500 text-sm" href="#">Command Stuff</a>
    </div>
</nav>