@model GuildChannelModel

<nav class="sticky top-20 mr-2 mt-4 shadow-md">
    <div class="flex flex-none flex-col bg-gray-400 dark:bg-gray-700 w-60 rounded">
        <div class="sidenav-header">Server Settings</div>
        <a class="nav-settings sidenav core" href="#core" id="core-nav">Core</a>
        <a class="nav-settings sidenav currency" href="#currency">Currency</a>
        <a class="nav-settings sidenav xp" href="#xp">Experience</a>
        <a class="nav-settings sidenav games" href="#games">Games</a>
        <a class="nav-settings sidenav gambling" href="#gambling">Gambling</a>
        <div class="sidenav-header">Channel Settings</div>
        <a class="sidenav channels" href="/manage/@Model.GuildConfig.GuildId/channels">Channels</a>
        <div class="sidenav-header">Commands</div>
        <a class="py-2 pl-4 rounded-b hover:bg-gray-500 text-sm" href="#">Command Stuff</a>
    </div>
</nav>