@model GuildChannelModel

<nav class="sticky top-20 mr-2 mt-4 shadow-md">
    <div class="flex flex-none flex-col bg-gray-400 dark:bg-gray-700 rounded w-60">
        <div class="py-2 pl-2 font-medium">Server Settings</div>
        <a class="nav-settings sidenav-active core py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#top">Core</a>
        <a class="nav-settings currency py-2 pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#currency">Currency</a>
        <a class="nav-settings py-2 xp pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#xp">Experience</a>
        <a class="nav-settings py-2 games pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#games">Games</a>
        <a class="nav-settings py-2 gambling pl-4 hover:bg-gray-500 active:bg-pink-900 text-sm" href="#gambling">Gambling</a>

        @* @if (Model.Channels.Count != 0) *@
        @* { *@
        @*     <div class="py-2 pl-2 font-medium">Channel Settings</div> *@
        @*     @foreach (Channel channel in Model.Channels) *@
        @*     { *@
        @*         // if (Model.ChannelId == channel.Id) *@
        @*         // { *@
        @*         //   <a class="py-2 px-4 hover:bg-gray-500 bg-gray-500 active:bg-pink-900 border-l-2 border-pink-500 text-sm truncate" href="/manage/@Model.Guild.Id/@channel.Id">#@channel.Name</a> *@
        @*         // } *@
        @*         // else *@
        @*         // { *@
        @*             <a class="py-2 px-4 hover:bg-gray-500 active:bg-pink-900 text-sm truncate" href="/manage/@Model.GuildConfig.GuildId/@channel.Id">#@channel.Name</a> *@
        @*         // } *@
        @*     } *@
        @* } *@
        <div class="py-2 pl-2 font-medium">Commands</div>
        <a class="py-2 pl-4 rounded-b hover:bg-gray-500 text-sm" href="#">Command Stuff</a>
    </div>
</nav>