@model GuildChannelModel

<div class="container ml-4">
    <h1 class="text-3xl font-medium tracking-tight">Module Settings</h1>
    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <form id="form-module" onchange="checkForm()" action="#" method="post">
    </form>
</div>