@model Guild

@{
    ViewData["Title"] = Model.Name;
}

<div class="container w-full md:max-w-5xl mx-auto pt-20">
    <h1 class="pl-2 mb-6 text-2xl font-medium tracking-tight">@Model.Name - Manage</h1>
    <div class="flex">
        <div class="w-60">
            <nav class="mr-2">
                <div class="flex flex-col bg-gray-400 rounded">
                    <div class="py-2 pl-2 font-medium">Server Settings</div>
                    <a class="py-2 pl-4 bg-gray-500 text-sm" href="#">Core</a>
                    <a class="py-2 pl-4 hover:bg-gray-500 text-sm" href="#">Modlues</a>
                    <div class="py-2 pl-2 font-medium">Channel Settings</div>
                    <a class="py-2 pl-4 hover:bg-gray-500 text-sm" href="#">#channel1</a>
                    <a class="py-2 pl-4 hover:bg-gray-500 text-sm rounded-b" href="#">#channel2</a>
                </div>

            </nav>
        </div>
        <div class="w-full">
            <div class="container ml-2">
                Content
            </div>
        </div>
    </div>
</div>