@model List<DiscordGuild>
<h3>My Servers</h3>

<div class="container">
    <div class="row justify-content-start">
        @foreach (DiscordGuild guild in Model)
        {
            <div class="col-auto">
                <a href="/manage/@guild.Id" class="guild-card">
                    <div class="card">
                        @if (string.IsNullOrWhiteSpace(guild.Icon))
                        {
                            <img src="https://ui-avatars.com/api/?name=@guild.Name[..4]" class="card-img-top rounded" alt="@guild.Name">
                        }
                        else
                        {
                            <img src="https://cdn.discordapp.com/icons/@guild.Id/@guild.Icon" class="card-img-top rounded" alt="@guild.Name">
                        }
                        <div class="card-body p-2 text-center">
                            <p class="mb-0">@guild.Name</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>