@{
    ViewData["Title"] = "Home";
}

<div class="container w-full md:max-w-3xl mx-auto mx-2">
    <div class="mx-2 pt-40 pb-40 md:pb-60">
        <h1 class="font-semibold text-6xl sm:text-7xl md:text-8xl text-center">Roki</h1>
        <h2 class="font-medium text-lg text-center mt-4">
            A fun, general purpose Discord bot for small communities
        </h2>
        @* @if (User?.Identity?.IsAuthenticated ?? false) *@
        @* { *@
        @*     <h1>Welcome, @User.Identity.Name</h1> *@
        @*     @foreach (var claim in Context.User.Claims) *@
        @*     { *@
        @*         <div><code>@claim.Type</code>: <strong>@claim.Value</strong></div> *@
        @*     } *@
        @* } *@
        @* else *@
        @* { *@
        @*     <h1>Welcome, anonymous</h1> *@
        @* } *@
    </div>
    <img class="absolute top-24 right-0 3xl:right-20 4xl:right-60 -mt-8 md:-mt-12 opacity-60 xl:opacity-70 2xl:opacity-80" src="https://i.imgur.com/UFnNkqa.png" alt="roki" style="z-index: -1">
</div>
<div class="bg-gray-900">
    <div class="container w-full md:max-w-5xl mx-auto mx-2 pt-4 pb-12 tracking-tight">
        <div class="mx-4 mt-4 md:mt-10">
            <div class="font-medium text-2xl mb-2">Currency System</div>
            <div>
                Fully customizable currency system in your server.
                <ul class="list-disc pl-8 text-sm">
                    <li>Custom currency name and icon to your needs</li>
                    <li>Use currency to gamble and play games</li>
                    <li>Setup a custom store for users to buy roles</li>
                    <li>Currency leaderboard to complete with your friends</li>
                    <li>Virtual stock exchange</li>
                </ul>
            </div>
        </div>
        <div class="mx-4 mt-8">
            <div class="font-medium text-2xl mb-2">Experience System</div>
            <div>
                Fully customizable XP system in your server.
                <ul class="list-disc pl-8 text-sm">
                    <li>Control XP gain rate</li>
                    <li>Custom XP rank cards</li>
                    <li>Setup levep up rewards</li>
                </ul>
            </div>
        </div>
        <div class="mx-4 mt-8">
            <div class="font-medium text-2xl mb-2">Jeopardy!</div>
            <div>
                Play a custom modified version of Jeopardy!
                <ul class="list-disc pl-8 text-sm">
                    <li>Contains over 45,000 categories and over 220,000 clues</li>
                    <li>Advanced answer parsing system</li>
                    <li>Functional Final Jeopardy!</li>
                </ul>
            </div>
        </div>
        <div class="mx-4 mt-8">
            <div class="font-medium text-2xl mb-2">Games & Gambling</div>
            <div>
                <ul class="list-disc pl-8 text-sm">
                    <li>Bet on A.I. vs A.I. Pokémon games</li>
                    <li>Bet on coinflips and dice rolls</li>
                    <li>Trivia games</li>
                    <li>Challenge your friends to a chess match</li>
                </ul>            
            </div>
        </div>
        <div class="mx-4 mt-8">
            <div class="font-medium text-2xl mb-2">Events</div>
            <div>
                <ul class="list-disc pl-8 text-sm">
                    <li>Setup and schedule events</li>
                    <li>Updates and lists participants</li>
                    <li>Automatic reminders to participants</li>
                </ul>
            </div>
        </div>
        <div class="mx-4 mt-8">
            <div class="font-medium text-2xl mb-2">Music</div>
            <div>
                <ul class="list-disc pl-8 text-sm">
                    <li>Queue YouTube songs, playlists</li>
                    <li>Custom autoplay based on previous songs</li>
                    <li>All features you'd expect from any other music bot</li>
                </ul>
            </div>
        </div>
        <div class="mx-4 mt-8">
            <div class="font-medium text-2xl mb-2">Many more</div>
            <div class="text-sm">
                <ul class="list-disc pl-8 mb-2">
                    <li>Web dashboard for customization</li>
                    <li>Moderation commands</li>
                    <li>Message logging system</li>
                    <li>Quotes</li>
                    <li>YouTube, Wikipedia, Anime, IMDb, etc. searching</li>
                </ul>
                and many more.
            </div>
        </div>
    </div>
</div>
<div class="bottom-0">
    <div class="container w-full md:max-w-6xl mx-auto mx-2 py-2 bg-gray-800">
        <div class="flex justify-between items-center mx-4">
            <div class="flex justify-start items-center">
                <a class="hover:text-pink-800 mr-4" href="https://github.com/snoww/roki" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <div>
                    Made by Snow
                </div>
            </div>
            <div>
                Art by <span class="hover:text-pink-800"><a href="https://twitter.com/nanojyaa" target="_blank" rel="noopener noreferrer">@@nanojyaa</a></span>
            </div>
        </div>
    </div>
</div>