{
  "ClientId": 123,
  "BotId": 123,
  "Token": "",
  "OwnerIds": [
    123
  ],
  "GoogleApi": "",
  "OmdbApi": "",
  "DarkSkyApi": "",
  "TwitterConsumer": "",
  "TwitterConsumerSecret": "",
  "TwitterAccessToken": "",
  "TwitterAccessSecret": "",
  "Db": {
    "Username": "username",
    "Password": "password"
  }
}