@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    input:checked ~ .toggle {
        transform: translateX(100%);
        background-color: #9D174D;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance:textfield;
    }
    
    .sidenav-active {
        @apply bg-gray-500 border-l-2 border-pink-500
    }

    html {
        scroll-padding-top: 64px; /* height of sticky header */
    }
}